dsl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- =========================================================
       OOS DSL Schema (dsl.xsd)
       Validates .dsl.xml files — the UI description language
       consumed by the Fyne renderer in oos-dsl/dsl. Served from
       oos.config under namespace "schema.dsl" at runtime.

       Semantic reference: oos-dsl/dsl/builder.go (Node dispatch)
       and oos-dsl-base/base/node.go (NodeType constants).

       Design note: most containers accept a permissive choice
       over UIElement because the renderer is forgiving. A few
       containers (tabs, accordion, table, tree, radio, choices)
       restrict children to their specific inner element.
       ========================================================= -->

  <!-- Root element -->
  <xs:element name="screen" type="Screen"/>

  <!-- =========================================================
       Shared attribute groups
       ========================================================= -->

  <!-- Spacing (Tailwind-like, 1 unit = 4px). Every container and
       most widgets accept these. See oos-dsl/dsl/style.go. -->
  <xs:attributeGroup name="Spacing">
    <xs:attribute name="p"  type="xs:string"/>
    <xs:attribute name="px" type="xs:string"/>
    <xs:attribute name="py" type="xs:string"/>
    <xs:attribute name="pt" type="xs:string"/>
    <xs:attribute name="pr" type="xs:string"/>
    <xs:attribute name="pb" type="xs:string"/>
    <xs:attribute name="pl" type="xs:string"/>
    <xs:attribute name="m"  type="xs:string"/>
    <xs:attribute name="mx" type="xs:string"/>
    <xs:attribute name="my" type="xs:string"/>
    <xs:attribute name="mt" type="xs:string"/>
    <xs:attribute name="mr" type="xs:string"/>
    <xs:attribute name="mb" type="xs:string"/>
    <xs:attribute name="ml" type="xs:string"/>
  </xs:attributeGroup>

  <!-- Label color — vererbbar durch den Baum (screen → section → field). -->
  <xs:attributeGroup name="LabelColor">
    <xs:attribute name="label-color" type="LabelColorValue"/>
  </xs:attributeGroup>

  <xs:simpleType name="LabelColorValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="primary"/>
      <xs:enumeration value="muted"/>
      <xs:enumeration value="disabled"/>
      <xs:enumeration value="error"/>
      <xs:enumeration value="danger"/>
      <xs:enumeration value="success"/>
      <xs:enumeration value="warning"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Expand/focus — Hints, die der Builder an einzelnen Kindern liest. -->
  <xs:attributeGroup name="ChildHints">
    <xs:attribute name="expand" type="xs:boolean"/>
    <xs:attribute name="focus"  type="xs:boolean"/>
  </xs:attributeGroup>

  <!-- =========================================================
       UIElement — die freie Wahl innerhalb von Containern.
       Der Renderer akzeptiert jede beliebige Reihenfolge und
       Mischung dieser Kinder.
       ========================================================= -->

  <xs:group name="UIElement">
    <xs:choice>
      <!-- Containers & layout -->
      <xs:element name="box"       type="Box"/>
      <xs:element name="grid"      type="Grid"/>
      <xs:element name="gridwrap"  type="GridWrap"/>
      <xs:element name="border"    type="Border"/>
      <xs:element name="center"    type="Center"/>
      <xs:element name="stack"     type="Stack"/>
      <xs:element name="tabs"      type="Tabs"/>
      <xs:element name="section"   type="Section"/>
      <xs:element name="card"      type="Card"/>
      <xs:element name="accordion" type="Accordion"/>
      <xs:element name="form"      type="Form"/>

      <!-- Data-bound widgets -->
      <xs:element name="field"     type="Field"/>
      <xs:element name="entry"     type="Entry"/>
      <xs:element name="textarea"  type="TextArea"/>
      <xs:element name="choices"   type="Choices"/>
      <xs:element name="check"     type="Check"/>
      <xs:element name="radio"     type="Radio"/>
      <xs:element name="slider"    type="Slider"/>
      <xs:element name="progress"  type="Progress"/>

      <!-- Display widgets -->
      <xs:element name="label"     type="Label"/>
      <xs:element name="button"    type="Button"/>
      <xs:element name="hyperlink" type="Hyperlink"/>
      <xs:element name="icon"      type="Icon"/>
      <xs:element name="richtext"  type="RichText"/>
      <xs:element name="sep"       type="Sep"/>

      <!-- Collections -->
      <xs:element name="table"     type="Table"/>
      <xs:element name="list"      type="List"/>
      <xs:element name="tree"      type="Tree"/>

      <!-- Toolbar (top-level action bar — usually a single direct child of screen) -->
      <xs:element name="toolbar"   type="Toolbar"/>
    </xs:choice>
  </xs:group>

  <!-- =========================================================
       Root: <screen>
       ========================================================= -->

  <xs:complexType name="Screen">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attribute name="id"     type="xs:string" use="required"/>
    <xs:attribute name="title"  type="xs:string"/>
    <xs:attribute name="scroll" type="xs:boolean"/>
    <!-- Screen-weite Format-Defaults -->
    <xs:attribute name="cur"    type="xs:string"/>
    <xs:attribute name="locale" type="xs:string"/>
    <!-- Toolbar-Flags (Chrome von der App gerendert, nicht aus dem DSL-Body). -->
    <xs:attribute name="delete" type="xs:boolean"/>
    <xs:attribute name="save"   type="xs:boolean"/>
    <xs:attribute name="exit"   type="xs:boolean"/>
    <xs:attributeGroup ref="LabelColor"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <!-- =========================================================
       Containers & layout
       ========================================================= -->

  <xs:complexType name="Box">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attribute name="orient" type="Orientation"/>
    <xs:attribute name="align"  type="HAlign"/>
    <!-- padding="all|top|bottom|vertical|horizontal" — legacy shorthand -->
    <xs:attribute name="padding" type="PaddingShorthand"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="LabelColor"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:simpleType name="Orientation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="vertical"/>
      <xs:enumeration value="horizontal"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="HAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left"/>
      <xs:enumeration value="center"/>
      <xs:enumeration value="right"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PaddingShorthand">
    <xs:restriction base="xs:string">
      <xs:enumeration value="all"/>
      <xs:enumeration value="top"/>
      <xs:enumeration value="bottom"/>
      <xs:enumeration value="vertical"/>
      <xs:enumeration value="horizontal"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Grid">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attribute name="cols" type="xs:positiveInteger"/>
    <xs:attribute name="gap"  type="xs:string"/>
    <!-- legacy alias: padding="all" -->
    <xs:attribute name="padding" type="PaddingShorthand"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="LabelColor"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="GridWrap">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attribute name="minw" type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Border">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attribute name="minheight" type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Center">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Stack">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <!-- tabs: only <tab> children allowed. -->
  <xs:complexType name="Tabs">
    <xs:sequence>
      <xs:element name="tab" type="Tab" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Tab">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attribute name="label" type="xs:string" use="required"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <!-- section: the main grouping container. Mixes fields and
       nested sections/widgets freely. cols+gap build a grid of
       <field>-children; other children break the grid (see
       builder.buildSection). -->
  <xs:complexType name="Section">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attribute name="label" type="xs:string"/>
    <xs:attribute name="cols"  type="xs:positiveInteger"/>
    <xs:attribute name="gap"   type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="LabelColor"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Card">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attribute name="title"    type="xs:string"/>
    <xs:attribute name="subtitle" type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <!-- accordion: only <accordion-item> children. -->
  <xs:complexType name="Accordion">
    <xs:sequence>
      <xs:element name="accordion-item" type="AccordionItem" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="AccordionItem">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attribute name="label" type="xs:string" use="required"/>
    <xs:attribute name="open"  type="xs:boolean"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <!-- form: Fyne widget.Form — renders children with labels in a
       two-column layout. Sep is a legal break inside. -->
  <xs:complexType name="Form">
    <xs:group ref="UIElement" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attribute name="label" type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <!-- =========================================================
       Data-bound widgets
       ========================================================= -->

  <!-- field: label above + widget below. The widget attribute
       picks the concrete input. Default is entry. -->
  <xs:complexType name="Field">
    <!-- <option> is only meaningful when widget=choices|radio. The
         schema permits it on every <field> to keep the grammar
         simple; the renderer ignores it otherwise. -->
    <xs:sequence>
      <xs:element name="option" type="Option" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="label"       type="xs:string"/>
    <xs:attribute name="bind"        type="xs:string"/>
    <xs:attribute name="widget"      type="FieldWidget"/>
    <xs:attribute name="options"     type="xs:string"/>
    <xs:attribute name="placeholder" type="xs:string"/>
    <xs:attribute name="readonly"    type="xs:boolean"/>
    <xs:attribute name="format"      type="xs:string"/>
    <!-- Slider-Parameter, falls widget=slider. -->
    <xs:attribute name="min"  type="xs:string"/>
    <xs:attribute name="max"  type="xs:string"/>
    <xs:attribute name="step" type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="LabelColor"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:simpleType name="FieldWidget">
    <xs:restriction base="xs:string">
      <xs:enumeration value="entry"/>
      <xs:enumeration value="textarea"/>
      <xs:enumeration value="choices"/>
      <xs:enumeration value="radio"/>
      <xs:enumeration value="check"/>
      <xs:enumeration value="slider"/>
      <xs:enumeration value="progress"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Entry">
    <xs:attribute name="label"       type="xs:string"/>
    <xs:attribute name="bind"        type="xs:string"/>
    <xs:attribute name="placeholder" type="xs:string"/>
    <xs:attribute name="readonly"    type="xs:boolean"/>
    <xs:attribute name="format"      type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="TextArea">
    <xs:attribute name="label"       type="xs:string"/>
    <xs:attribute name="bind"        type="xs:string"/>
    <xs:attribute name="placeholder" type="xs:string"/>
    <xs:attribute name="readonly"    type="xs:boolean"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Choices">
    <xs:sequence>
      <xs:element name="option" type="Option" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="label"   type="xs:string"/>
    <xs:attribute name="bind"    type="xs:string"/>
    <xs:attribute name="options" type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Check">
    <xs:attribute name="label" type="xs:string"/>
    <xs:attribute name="bind"  type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Radio">
    <xs:sequence>
      <xs:element name="option" type="Option" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="label"   type="xs:string"/>
    <xs:attribute name="bind"    type="xs:string"/>
    <xs:attribute name="options" type="xs:string"/>
    <xs:attribute name="orient"  type="Orientation"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <!-- <option> — text content is the label, value attribute is
       the underlying value. -->
  <xs:complexType name="Option" mixed="true">
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="Slider">
    <xs:attribute name="min"    type="xs:string"/>
    <xs:attribute name="max"    type="xs:string"/>
    <xs:attribute name="step"   type="xs:string"/>
    <xs:attribute name="bind"   type="xs:string"/>
    <xs:attribute name="orient" type="Orientation"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Progress">
    <xs:attribute name="bind"  type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <!-- =========================================================
       Display widgets
       ========================================================= -->

  <xs:complexType name="Label">
    <xs:attribute name="text"  type="xs:string"/>
    <xs:attribute name="style" type="LabelStyle"/>
    <xs:attribute name="wrap"  type="xs:boolean"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:simpleType name="LabelStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
      <xs:enumeration value="bold"/>
      <xs:enumeration value="italic"/>
      <xs:enumeration value="mono"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Button">
    <xs:attribute name="id"     type="xs:string"/>
    <xs:attribute name="label"  type="xs:string"/>
    <xs:attribute name="action" type="xs:string"/>
    <xs:attribute name="style"  type="ButtonStyle"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:simpleType name="ButtonStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
      <xs:enumeration value="save"/>
      <xs:enumeration value="primary"/>
      <xs:enumeration value="delete"/>
      <xs:enumeration value="danger"/>
      <xs:enumeration value="cancel"/>
      <xs:enumeration value="secondary"/>
      <xs:enumeration value="add"/>
      <xs:enumeration value="refresh"/>
      <xs:enumeration value="home"/>
      <xs:enumeration value="settings"/>
      <xs:enumeration value="search"/>
      <xs:enumeration value="info"/>
      <xs:enumeration value="edit"/>
      <xs:enumeration value="copy"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Hyperlink">
    <xs:attribute name="text" type="xs:string"/>
    <xs:attribute name="url"  type="xs:string" use="required"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Icon">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="size" type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <!-- richtext: either markdown=true and raw text content, or a
       sequence of <span> children. mixed=true lets us accept the
       markdown case where text lives directly in <richtext>. -->
  <xs:complexType name="RichText" mixed="true">
    <xs:sequence>
      <xs:element name="span" type="Span" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="markdown" type="xs:boolean"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Span" mixed="true">
    <xs:attribute name="style" type="SpanStyle"/>
  </xs:complexType>

  <xs:simpleType name="SpanStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
      <xs:enumeration value="heading"/>
      <xs:enumeration value="subheading"/>
      <xs:enumeration value="bold"/>
      <xs:enumeration value="strong"/>
      <xs:enumeration value="italic"/>
      <xs:enumeration value="emphasis"/>
      <xs:enumeration value="em"/>
      <xs:enumeration value="mono"/>
      <xs:enumeration value="code"/>
      <xs:enumeration value="codeblock"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- sep: standalone separator line. -->
  <xs:complexType name="Sep">
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <!-- =========================================================
       Collections
       ========================================================= -->

  <!-- table: only <column> children. -->
  <xs:complexType name="Table">
    <xs:sequence>
      <xs:element name="column" type="Column" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id"     type="xs:string"/>
    <xs:attribute name="bind"   type="xs:string"/>
    <xs:attribute name="action" type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="Column">
    <xs:attribute name="label"  type="xs:string"/>
    <xs:attribute name="field"  type="xs:string"/>
    <xs:attribute name="width"  type="xs:string"/>
    <xs:attribute name="format" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="List">
    <xs:attribute name="bind"   type="xs:string"/>
    <xs:attribute name="field"  type="xs:string"/>
    <xs:attribute name="action" type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <!-- tree: only <node> children. -->
  <xs:complexType name="Tree">
    <xs:sequence>
      <xs:element name="node" type="TreeNode" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="action" type="xs:string"/>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

  <xs:complexType name="TreeNode" mixed="true">
    <xs:attribute name="id"     type="xs:string"/>
    <xs:attribute name="parent" type="xs:string"/>
    <xs:attribute name="label"  type="xs:string"/>
  </xs:complexType>

  <!-- =========================================================
       Toolbar
       ========================================================= -->

  <!-- toolbar: only <button> and <sep> children. -->
  <xs:complexType name="Toolbar">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="button" type="Button"/>
      <xs:element name="sep"    type="Sep"/>
    </xs:choice>
    <xs:attributeGroup ref="ChildHints"/>
    <xs:attributeGroup ref="Spacing"/>
  </xs:complexType>

</xs:schema>
